GATEWAY_PORT=4000
AUTH_SERVICE_URL=http://auth-service:4001
USER_SERVICE_URL=http://user-service:4002
TASK_SERVICE_URL=http://task-service:4003
NOTIFICATION_SERVICE_URL=http://notification-service:4004
CORS_ORIGIN=http://localhost:3000
